<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>AirFlow Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo">AirFlow - Security</label>
      <ul>
        <li><a href="#">flights</a></li>
        <li><a href="#">air crafts</a></li>
        <li><a href="#">airports</a></li>
        <li><a href="#">passengers</a></li>
        <li><a href="#">employees</a></li>
        <li><a href="#">bookings</a></li>
      </ul>
    </nav>
    <section></section>
  </body>
</html>